html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Переопределяем стили Vite шаблона */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e1e1e 0%, #2a2a2a 100%);
  font-family: 'Inter', sans-serif;
  color: #f5f5f5;

  /* удаляем старые ограничения */
  max-width: none !important;
  padding: 0 !important;
  text-align: center;
}
